doctype html
html
	head
		link(rel="stylesheet" href="/stylesheets/admin.css")
	body
		div(id="main")
			form
				input(type="text" name="username")
				input(type="password" name="password")
				input(type="hidden" name="redirect" value="/admin/main")
				input(type="submit" value="Login")
