doctype html
html
	head
		link(rel='stylesheet' href='/stylesheets/admin.css')
		| <!-- most of this stuff is so that hallo.js can run -->
		script(src='/javascripts/jquery/jquery.js')
		script(src='/javascripts/jquery-ui/jquery-ui.js')
		script(src='/javascripts/rangy/rangy-core.min.js')
		script(src='/javascripts/async/async.js')
		script(src='/javascripts/hallo/hallo.js')
		script(src='/javascripts/api.js')
		script(src='/javascripts/panel.js')
		script(src='/javascripts/panel-main.js')
	body
		h1 Webcomic.js Admin Panel
		#main
			each u in updates
				.update(id= "update-" + u.num)
					h3= u.num
					h4= u.name
					img(src= u.thumb)
					.description
						!= u.desc
						a(href= "./edit/" + u.num) edit
		#editor
			
