extends layout

block content
	p Nebula Ice is a new webcomic about bored people with secrets.  It is currently being kicked off as the senior project of Richard Dominguez, a writer/programmer/web developer/cartoonist who probably dabbles in some other stuff, too.  The website runs on Webcomic.js--also part of the project--which is a framework/content management system for publishing things like this online.
	p 
		| Notably, Nebula Ice is built and created mostly with 
		a(href='https://en.wikipedia.org/wiki/Free_software') free and open-source software
		| :  the pages themselves are drawn primarily with 
		a(href='https://inkscape.org/en/') Inkscape
		| , and the website is written in a state-of-the-art web development platform called 
		a(href='https://nodejs.org/') Node.js
		| .  The source code of the website itself is in turn available for download and study at 
		a(href='https://www.github.com') Github
		| , under the open-source MIT license.
	p 
		| Richard doesn't really have much else online, but you can find his media portfolio at 
		a(href='http://highlightsfortheaether.dropr.com/') dropr.com
		| .  He goes to school in a chilly land, lives otherwise beneath a burning sun, and has his sights set on this one other place.

