extends layout

block content
	include ./includes/pageturn.jade
	div(id="page_wrapper")
		img(id="page" src= pageSource)
	div(id="description")
		p= desc
	include ./includes/pageturn.jade
	include ./includes/disqus.jade
