extends layout

block content
	link(rel="title")
	h1(id="title")= title
	div(id="page_wrapper")
		img(id="page" src= pageSource)
	include ./includes/pageturn.jade
	div(id="info")
		h3(id=data)= "Posted on " + date + "."
		div(id=description)!= md(desc)
	include ./includes/disqus.jade
