doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div(id='wide')
			h1(id='banner')= title
			nav(id='links')
				a(href='/p/1') Start Here
				a(href='/about.html') About
				a(href='/archive') Archive
				a(href='/rss') RSS
		div(id="content")
			block content
		include ./includes/footer.jade
