rss(version="2.0")
	channel
		title Ethereal Webcomic
		atom:link(href="" rel="self" type="application/rss+xml")
		<link>http://etheral.topleveldomain.com/</link>
		description A webcomic about bored college students and life at the office in space.
		lastBuildDate Just now.
		language en-US
			sy:updatePeriod live
