body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	color: #444;
	background-color: #333;
}

a {
  color: #eee;
}

h1 {
	display: block;
}

#wide {
	width: 100%;
}

#banner {
	height:250px;
}

#title {
	text-align: center;
	font-size: 2.5em;
}

#links {
	color: white;
	background-color:black;
	padding: 1.5em;
}

#links a {
	margin-right: 1em;
	font-size: 1.5em;
	text-decoration: none;
}

#page, #page_wrapper {
	width:850px;
	/* height:1100px; */
	background-color: white;
}

#content, footer {
	width:850px;
	margin-left:auto;
	margin-right:auto;
	padding: 1em;
}

#content {
	background-color: #666;
}

#info {
	background-color: #ddd;
	margin-left: .2em;
	margin-right: .2em;
	padding: 0em;
	border-radius: .5em;
}

#info h3 {
	background-color: #333;
	margin-left: 0px;
	margin-right: 0px;
	height: 2em;
	padding: .3em;
	border-top-left-radius: .3em;
	border-top-right-radius: .3em;
	color: #eee;
}

#info p {
	padding:1em;
	padding-top: .5em;
}

.pagenav a {
	font-size: 5em;
	padding-left: 1em;
	padding-right: 1em;
	text-decoration: none;
}

.fade {
	color: #777;
}

footer {
	color: #ccc;
	background-color: #333;
	text-align: center;
}

.update {
	height: 200px;
	margin-bottom: 10px;
}

.update img {
	float: left;
}

.update-info {
	text-align: center;
}

